// Include custom varables default overrides here

$primary: #7F187F;
$gray: #E6E6E6;

$theme-colors: (
  "primary": $primary,
  "gray": $gray
);

// Create your own map
$custom-color: (
  "icon-background": rgba(127, 24, 127, 0.2)
);

// Merge maps
$theme-colors: map-merge($theme-colors , $custom-color);

@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here

/********************* HEADER ***********************/
.announcement-bar{
  font-size: 0.8rem;

  border-bottom: 1px solid var(--bs-gray);


}