// Include custom varables default overrides here

$primary: #243c4c;
$secondary: rgb(253, 225, 45);
$third: rgb(50, 159, 91);
$fourth: rgb(0, 151, 245);
$fifth: #d6263e;
$dark: rgb(21, 35, 44);
$gray: rgb(32, 33, 34);
$sale: red;
$headings-font-family: 'Nunito', sans-serif;
$headings-font-weight: 800;
$font-family-base: 'Poppins', sans-serif;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "third": $third,
  "fourth": $fourth,
  "fifth": $fifth,
  "dark": $dark,
  "gray": $gray,
  "sale": $sale
);

// Create your own map
$custom-color: (
  "icon-background": rgba(36, 60, 76, 0.2)
);

// Merge maps
$theme-colors: map-merge($theme-colors , $custom-color);

$utilities: (
  "rounded": (property: border-radius,
    class: rounded,
    values: (null: 1rem,
      circle: 50%))
);



@import "./bootstrap/scss/bootstrap";

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$headings-font-family: 'Nunito', sans-serif;
$headings-font-weight: 800;
// Then add additional custom code here

/********************* HEADER ***********************/
.entry-title {
  color: $primary;
}

.announcement-bar {
  font-size: 0.8rem;

  border-bottom: 1px solid var(--bs-gray);

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-flex;
    margin: 0 -10px;

    a:visited {
      color: $primary;
    }

    li {
      margin: 0 10px;
      display: flex;
      align-items: center;

      .bi {
        background-color: var(--bs-icon-background);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: 6px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.announcement-bar-mobile {
  font-size: 1.5rem;

  &__list {

    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-flex;
    margin: 0 -10px;

    li {
      margin: 0 10px;
      display: flex;
      align-items: center;

      .bi {
        color: $primary;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: 6px;
      }
    }
  }

  a:visited {
    color: $primary;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.site-header {
  .aws-search-field {
    font-size: 0.9rem;
    padding-left: 1.4rem;
    border-radius: 20px !important;
  }
}

.site-footer {

  .widget_block {
    border-top: 1px solid rgb(41, 68, 86);
    border-bottom: 1px solid rgb(41, 68, 86);

    h2 {
      margin-top: 10px;
    }
  }
}

/* Main menu */
.main-navigation {
  font-weight: 600;

  .current-menu-item {
    background-color: rgb(36, 60, 76);
  }

  a {
    text-transform: uppercase;
    color: var(--bs-white);
    padding: 0.6rem 1.4rem;
  }

  a:hover {
    background-color: rgb(31, 51, 65);
  }

  .menu-toggle {
    background-color: $primary;
    color: white;
    border: none;
  }

  .sub-menu {
    li {
      background-color: $primary;
    }
  }

  @include media-breakpoint-up(sm) {
    .container {
      display: flex;
    }
  }

  @include media-breakpoint-down(md) {
    .container {
      padding: 0 0;
    }
  }
}

/********************* FRONT PAGE ***********************/
/******************* Slider ****************/
.carousel {

  .carousel-control-prev,
  .carousel-control-next {
    width: 9%;
  }
}

/******************* Categories ****************/
.categories {
  background-color: white;

  .categories__col {
    height: 212px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include media-breakpoint-up(md) {
    .categories__col {
      height: 336px;
    }
  }
}

/******************* Pages *********************/
.page-title-header {
  background-color: #f9f9f9;

  .categories__col {
    height: 212px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include media-breakpoint-up(md) {
    .categories__col {
      height: 336px;
    }
  }
}

/******************* Footer *******************/
.site-footer {
  .menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    a {
      color: $white;
      text-decoration: none;
      display: block;
      padding: 0.3rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.popular-products,
.special-offer {
  .add_to_cart_button {
    display: block !important;
    text-align: center;
  }

  .attachment-woocommerce_thumbnail {
    border-radius: 20px;
    overflow: hidden;
  }
}

.custom-logo {
  height: 250px;
}

.woocommerce-loop-product__title {
  color: $primary;
}

.cart-custom:visited {
  color: $primary;
}

.product-name {
  a:visited {
    color: $primary;
  }
}

/************** Posts *********************/
.post-10,
.post-3 {
  h2 {
    color: $primary;
  }

  h1 {
    text-align: center;
  }
}

/************* LISTS ******************/
.list-group {
  list-style: decimal inside;
}

.list-group-un {
  list-style: circle inside;
}

.list-group-item {
  display: list-item;
}

.wpcf7-form-control {
  width: 100%;
}

.onas {
  font-size: 20px;
}